*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-style: normal;
}
li{
    list-style: none;
}
html, body{
    width: 100%;
    height: 100%;
}